# Playwright Test Credentials & Environment Variables
# Copy this file to .env for local configuration
# Example: for staging - name file .env.staging

# Change password here
TEST_PASSWORD=some_pwd

# Official Saucedemo users
STANDARD_USER=standard_user
LOCKED_OUT_USER=locked_out_user
PROBLEM_USER=problem_user
PERFORMANCE_GLITCH_USER=performance_glitch_user
ERROR_USER=error_user
VISUAL_USER=visual_user
